@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
       url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"),
       url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-ExtraBold"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Light"),
       url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.01em;

  background-color: #ffffff;
}

a {
  color: #000000;
  text-decoration: none;
}

.page-header ul,
.container ul,
.page-footer ul {
  list-style: none;
}

.page-header {
  background-color: #f7e296;
}

.page-header input[name="search"] {
  font: inherit;
  line-height: 36px;
  color: #000000;
  opacity: 0.3;

  background-color: #f7e296;
  border: none;
}

.page-header input[name="search"]:hover {
  opacity: 0.6;
}

.page-header input[name="search"]:focus {
  opacity: 1;
}

.button-search {
  font: inherit;
  line-height: 36px;
  color: #000000;

  background-color: #f7e296;
  border: 2px solid #000000;
}

.button-search:hover,
.button-search:focus {
  color: #ffffff;
  background-color: #000000;
}

.button-search:active {
  color: #747474;
}

.user-navigation {
  font: inherit;
  line-height: 36px;
}

.main-navigation {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 18px;  
  font-weight: 800;
  line-height: 1.2;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sub-navigation a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  text-transform: none;
  letter-spacing: 0.01em;
}

.page-header a:hover,
.page-header a:focus,
.page-footer a:hover,
.page-footer a:focus {
  opacity: 0.6;
}

.login-link a,
.page-header a:active,
.page-footer a:active {
  opacity: 0.3;
}

.container h1,
.container h3 {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 47px;
  
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
  text-align: left;
}

.slider-list tr:first-child {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.01em;
}

.slider-list tr {
  font-size: 13px;
  line-height: 20px;
}

.button {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;

  background-color: #f0c52e;
}

.products {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
}

.button:active,
.products-list-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.services {
  background-color: #e5e5e5;
}

.services-list a:active,
.services-current {
  color: #f7e184;

  background-color: #000000;
}

.companies img {
  filter: grayscale(1) opacity(0.2);
}

.companies img:hover,
.companies img:focus {
  filter: grayscale(0) opacity(1);
}

.about-us-item {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
  list-style-type: circle;
}


.page-footer {
  background-color: #464646;  
  color: #ffffff;
}

.page-footer img:hover, 
.page-footer img:focus {
  opacity: 0.6;
}

.page-footer img:active {
  opacity: 0.3;
}

.page-footer a {  
  color: #ffffff;
}
.footer-user-menu a {
  opacity: 0.7;
}

.footer-user-menu a:hover,
.footer-user-menu a:focus {
  opacity: 1;
}

.footer-user-menu a:active {
  opacity: 0.3;
}

.footer-site-items {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-site-items a:hover,
.footer-site-items a:focus {
  opacity: 0.7;
}

.footer-site-items a:active {
  opacity: 0.3;
}

.address,
.phone {
  color: #ffffff;
  letter-spacing: 0;
  font-style: normal;
}

.modal label {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
  color: #000000;
}

.modal input,
.modal textarea {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(70, 70, 70, 0.4);

  background-color: #f2f2f2;
  border: none;
}

.modal input:hover,
.modal textarea:hover {
 background-color: #eaeaea;
}

.modal input:focus,
.modal textarea:focus {
  color: #464646;
  outline: none;

  background-color: #ffffff;
  border: 2px solid #f0c52e;
}

.modal input:invalid,
.modal textarea:invalid {
  background-color: #f6dada;
}

.breadcrumbs a {
  font: inherit;
  font-size: 14px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active,
.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.container h2 {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: left;
}

.filters {
  background-color: #efefef;
}

.filters h2 {
  background-color: #dbdbdb;
}

.filters fieldset {
  border: none;
}

.filters legend,
.catalog-item h3 {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
}

.filters label {
  font: inherit;
  font-size: 14px;
  line-height: 40px;
  color: #000000;
}

.filters input:disabled+label {
 color: #a6a6a6;
}

.sort {
  background-color: #ebebeb;
}

.sort a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.sort a:hover,
.sort a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort a:active {
  color: rgba(0, 0, 0, 1);
}

.type-sort-current a,
.current a {
  color: #000000;
}

.pagination-list {
  background-color: #ebebeb;
}

.pagination-list a {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.no-current a {
  color: rgba(0, 0, 0, 0.3);
}

.no-current a:hover,
.no-current a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.off-current a:active {
  color: rgba(0, 0, 0, 1);
}

.pagination-item:first-child a:hover,
.pagination-item:first-child a:focus,
.pagination-item:last-child a:hover,
.pagination-item:last-child a:focus {
  background-color: #d9d9d9;
}

.pagination-item:first-child a:active,
.pagination-item:last-child a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item .compare-on {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.01em;
}

.catalog-item .compare-on:hover,
.catalog-item .compare-on:focus {
  color: rgba(0, 0, 0, 1);
}

.catalog-item .compare-on:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-item span {
  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.01em;
}